<form method="post" action="{{ path('t_compte_utilisateur_delete', {'id': t_compte_utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_compte_utilisateur.id) }}">
    <button class="btn">Delete</button>
</form>
