{% extends 'base.html.twig' %}

{% block title %}Edit TCompteUtilisateur{% endblock %}

{% block body %}
    <h1>Edit TCompteUtilisateur</h1>

    {{ include('t_compte_utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_compte_utilisateur_index') }}">back to list</a>

    {{ include('t_compte_utilisateur/_delete_form.html.twig') }}
{% endblock %}
