{% extends 'base.html.twig' %}

{% block title %}New TCompteUtilisateur{% endblock %}

{% block body %}
    <h1>Create new TCompteUtilisateur</h1>

    {{ include('t_compte_utilisateur/_form.html.twig') }}

    <a href="{{ path('t_compte_utilisateur_index') }}">back to list</a>
{% endblock %}
