{% extends 'base.html.twig' %}

{% block title %}TCompteUtilisateur{% endblock %}

{% block body %}
    <h1>TCompteUtilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_compte_utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ t_compte_utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ t_compte_utilisateur.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_compte_utilisateur_index') }}">back to list</a>

    <a href="{{ path('t_compte_utilisateur_edit', {'id': t_compte_utilisateur.id}) }}">edit</a>

    {{ include('t_compte_utilisateur/_delete_form.html.twig') }}
{% endblock %}
