<form method="post" action="{{ path('t_caracteristiques_objet_delete', {'object': t_caracteristiques_objet.object}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_caracteristiques_objet.object) }}">
    <button class="btn">Delete</button>
</form>
