<form method="post" action="{{ path('t_cp_ville_delete', {'idCpTown': t_cp_ville.idCpTown}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_cp_ville.idCpTown) }}">
    <button class="btn">Delete</button>
</form>
