{% extends 'base.html.twig' %}

{% block title %}Edit TCpVille{% endblock %}

{% block body %}
    <h1>Edit TCpVille</h1>

    {{ include('t_cp_ville/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_cp_ville_index') }}">back to list</a>

    {{ include('t_cp_ville/_delete_form.html.twig') }}
{% endblock %}
