{% extends 'base.html.twig' %}

{% block title %}TCpVille index{% endblock %}

{% block body %}
    <h1>TCpVille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCpTown</th>
                <th>PostalCode</th>
                <th>Town</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_cp_ville in t_cp_villes %}
            <tr>
                <td>{{ t_cp_ville.idCpTown }}</td>
                <td>{{ t_cp_ville.postalCode }}</td>
                <td>{{ t_cp_ville.town }}</td>
                <td>
                    <a href="{{ path('t_cp_ville_show', {'idCpTown': t_cp_ville.idCpTown}) }}">show</a>
                    <a href="{{ path('t_cp_ville_edit', {'idCpTown': t_cp_ville.idCpTown}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_cp_ville_new') }}">Create new</a>
{% endblock %}
