{% extends 'base.html.twig' %}

{% block title %}TKeys index{% endblock %}

{% block body %}
    <h1>TKeys index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>KeysId</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_key in t_keys %}
            <tr>
                <td>{{ t_key.keysId }}</td>
                <td>{{ t_key.name }}</td>
                <td>
                    <a href="{{ path('t_keys_show', {'keysId': t_key.keysId}) }}">show</a>
                    <a href="{{ path('t_keys_edit', {'keysId': t_key.keysId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_keys_new') }}">Create new</a>
{% endblock %}
