<form method="post" action="{{ path('t_message_delete', {'messageId': t_message.messageId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_message.messageId) }}">
    <button class="btn">Delete</button>
</form>
