{% extends 'base.html.twig' %}

{% block title %}Edit TMessage{% endblock %}

{% block body %}
    <h1>Edit TMessage</h1>

    {{ include('t_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_message_index') }}">back to list</a>

    {{ include('t_message/_delete_form.html.twig') }}
{% endblock %}
