{% extends 'base.html.twig' %}

{% block title %}New TUtilisateurs{% endblock %}

{% block body %}
    <h1>Create new TUtilisateurs</h1>

    {{ include('t_utilisateurs/_form.html.twig') }}

    <a href="{{ path('t_utilisateurs_index') }}">back to list</a>
{% endblock %}
