{% extends 'base.html.twig' %}

{% block title %}TStatut index{% endblock %}

{% block body %}
    <h1>TStatut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_statut in t_statuts %}
            <tr>
                <td>{{ t_statut.id }}</td>
                <td>{{ t_statut.label }}</td>
                <td>
                    <a href="{{ path('t_statut_show', {'id': t_statut.id}) }}">show</a>
                    <a href="{{ path('t_statut_edit', {'id': t_statut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('t_statut_new') }}">Create new</a>
{% endblock %}
