{% extends 'base.html.twig' %}

{% block title %}New TStatut{% endblock %}

{% block body %}
    <h1>Create new TStatut</h1>

    {{ include('t_statut/_form.html.twig') }}

    <a href="{{ path('t_statut_index') }}">back to list</a>
{% endblock %}
